.flexContainer {
    display: flex;
    gap: 10px
}

.max_width_container {
    max-width: 1344px;
    margin: 0px auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px
}

.small_max_width_container {
    max-width: 300px;
    margin: 0px auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.medium_max_width_container {
    max-width: 800px;
    margin: 0px auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
/* Отображение элемента в пк версии */
.visible_on_fullscreen_version {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
/* Отображение элемента в мобильная версии */
.visible_on_mobile_version {
    display: none;
    height: 100%;
    width: 100%;
}

.header2 {
    font-size: 40px;
    font-weight: bold;
}

@media (max-width: 600px) {
    .max_width_container {
        max-width: none;
        margin: 0px auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px
    }
    .flexContainer {
        display: flex;
        flex-direction: column;
        gap: 10px
    }
    /* Отображение элемента в пк версии */
    .visible_on_fullscreen_version {
        display: none;
        width: 100%;
        height: 100%;
        margin: 0 auto
    }
    /* Отображение элемента в мобильная версии */
    .visible_on_mobile_version {
        display: block;
        height: 100%;
        width: 100%;
    }
    .header2 {
        font-size: 30px;
        font-weight: bold;
    }
}